In [1]:
import pandas as pd

In [24]:
annonces = pd.read_csv('data.tsv',sep="\t")
annonces

,Id,Genre,Neuf,Surface,Pieces,Quartier,Prix
0,annonce-138905473-376235,Appartement,0,90.00,3.0,cathédrale,374400.0
1,annonce-140620177-376235,Appartement,0,146.27,5.0,sud,499200.0
2,annonce-140620179-376235,Appartement,0,110.00,5.0,prébendes,499200.0
3,annonce-133494153-376235,Maison,0,132.00,6.0,prébendes,508000.0
4,annonce-137425993-376235,Maison,0,185.00,7.0,strasbourg,676000.0
...,...,...,...,...,...,...,...
1642,annonce-134769693-30034771,Appartement,1,66.30,3.0,NaN,254900.0
1643,annonce-123293873-388776,Appartement,0,42.00,2.0,fontaines,61500.0
1644,annonce-141342739-388776,Appartement,0,76.00,3.0,NaN,108500.0
1645,annonce-137994967-30034771,Maison,1,84.40,4.0,NaN,320000.0
1646,annonce-138636083-30034771,Maison,1,84.40,4.0,NaN,320000.0

In [25]:
annonces.head()

,Id,Genre,Neuf,Surface,Pieces,Quartier,Prix
0,annonce-138905473-376235,Appartement,0,90.00,3.0,cathédrale,374400.0
1,annonce-140620177-376235,Appartement,0,146.27,5.0,sud,499200.0
2,annonce-140620179-376235,Appartement,0,110.00,5.0,prébendes,499200.0
3,annonce-133494153-376235,Maison,0,132.00,6.0,prébendes,508000.0
4,annonce-137425993-376235,Maison,0,185.00,7.0,strasbourg,676000.0

In [26]:
annonces.drop(columns="Id", inplace=True)

In [27]:
annonces.head()

         Genre  Neuf  Surface  Pieces    Quartier      Prix
0  Appartement     0    90.00     3.0  cathédrale  374400.0
1  Appartement     0   146.27     5.0         sud  499200.0
2  Appartement     0   110.00     5.0   prébendes  499200.0
3       Maison     0   132.00     6.0   prébendes  508000.0
4       Maison     0   185.00     7.0  strasbourg  676000.0

In [28]:
annonces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1647 entries, 0 to 1646
Data columns (total 6 columns):
Genre       1647 non-null object
Neuf        1647 non-null int64
Surface     1639 non-null float64
Pieces      1646 non-null float64
Quartier    955 non-null object
Prix        1646 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 77.3+ KB

In [29]:
annonces.dtypes

Genre        object
Neuf          int64
Surface     float64
Pieces      float64
Quartier     object
Prix        float64
dtype: object

In [30]:
annonces.isna().sum()

Genre         0
Neuf          0
Surface       8
Pieces        1
Quartier    692
Prix          1
dtype: int64

In [31]:
annonces.dropna(subset=("Surface", "Pieces", "Prix"), inplace=True)
annonces.isna().sum()

Genre         0
Neuf          0
Surface       0
Pieces        0
Quartier    688
Prix          0
dtype: int64

## Suppression na

In [32]:
from sklearn.preprocessing import (OneHotEncoder,
                                   LabelEncoder,
                                   StandardScaler,
                                   Normalizer,
                                   MinMaxScaler,
                                  )
import numpy as np

In [33]:
annonces_sans_na = annonces.dropna()

In [34]:
annonces_sans_na.isna().sum()

Genre       0
Neuf        0
Surface     0
Pieces      0
Quartier    0
Prix        0
dtype: int64

In [35]:
annonces_sans_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 951 entries, 0 to 1643
Data columns (total 6 columns):
Genre       951 non-null object
Neuf        951 non-null int64
Surface     951 non-null float64
Pieces      951 non-null float64
Quartier    951 non-null object
Prix        951 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 52.0+ KB

In [36]:
gestion_quartier = OneHotEncoder()

In [37]:
quartiers = gestion_quartier.fit_transform(annonces_sans_na["Quartier"].values.reshape(-1, 1))
quartiers.shape

(951, 26)

In [38]:
gestion_genre = OneHotEncoder()
genre = gestion_genre.fit_transform(annonces_sans_na["Genre"].values.reshape(-1, 1))
genre.shape

(951, 2)

In [39]:
reste = annonces_sans_na[["Neuf", "Surface", "Pieces"]].values
reste.shape
type(reste)

numpy.ndarray

In [42]:
normalisation = Normalizer()
X = np.concatenate ((quartiers.toarray(), genre.toarray(),reste), axis = 1)
X.shape

(951, 31)

In [43]:
y = annonces_sans_na["Prix"].values
y.shape

(951,)

## Apprentissage

In [ ]:
from sklearn.model_selection import (train_test_split,
                                    RandomizedSearchCV,
                                    GridSearchCV,
                                    )

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor as RFR

In [ ]:
GridSearchCV(estimator = SVR(),
            param_grid = dict())

In [ ]:
svr.fit(X_train, y_train)

In [ ]:
print(svr.best)

On prédit les prix en fonction de toutes les autres variables

## Exercice
- enlever la colonne "Quartier"
- étudier l'impact de la normalisation
- utiliser un troisième estimateur de votre choix

In [33]:
annonces = pd.read_csv('data.tsv',sep="\t",)
annonces

,Id,Genre,Neuf,Surface,Pieces,Quartier,Prix
0,annonce-138905473-376235,Appartement,0,90.00,3.0,cathédrale,374400.0
1,annonce-140620177-376235,Appartement,0,146.27,5.0,sud,499200.0
2,annonce-140620179-376235,Appartement,0,110.00,5.0,prébendes,499200.0
3,annonce-133494153-376235,Maison,0,132.00,6.0,prébendes,508000.0
4,annonce-137425993-376235,Maison,0,185.00,7.0,strasbourg,676000.0
...,...,...,...,...,...,...,...
1642,annonce-134769693-30034771,Appartement,1,66.30,3.0,NaN,254900.0
1643,annonce-123293873-388776,Appartement,0,42.00,2.0,fontaines,61500.0
1644,annonce-141342739-388776,Appartement,0,76.00,3.0,NaN,108500.0
1645,annonce-137994967-30034771,Maison,1,84.40,4.0,NaN,320000.0
1646,annonce-138636083-30034771,Maison,1,84.40,4.0,NaN,320000.0

In [34]:
ann = annonces.drop(['Quartier'], axis='columns', inplace=True)

In [35]:
ann