In [27]:
import pandas as pd

In [28]:
annonces = pd.read_csv('data.tsv',sep="\t",)
annonces

,Id,Genre,Neuf,Surface,Pieces,Quartier,Prix
0,annonce-138905473-376235,Appartement,0,90.00,3.0,cathédrale,374400.0
1,annonce-140620177-376235,Appartement,0,146.27,5.0,sud,499200.0
2,annonce-140620179-376235,Appartement,0,110.00,5.0,prébendes,499200.0
3,annonce-133494153-376235,Maison,0,132.00,6.0,prébendes,508000.0
4,annonce-137425993-376235,Maison,0,185.00,7.0,strasbourg,676000.0
...,...,...,...,...,...,...,...
1642,annonce-134769693-30034771,Appartement,1,66.30,3.0,NaN,254900.0
1643,annonce-123293873-388776,Appartement,0,42.00,2.0,fontaines,61500.0
1644,annonce-141342739-388776,Appartement,0,76.00,3.0,NaN,108500.0
1645,annonce-137994967-30034771,Maison,1,84.40,4.0,NaN,320000.0
1646,annonce-138636083-30034771,Maison,1,84.40,4.0,NaN,320000.0

## Suppression na

In [29]:
from sklearn.preprocessing import (OneHotEncoder, LabelEncoder, StandardScaler)
import numpy as np

In [30]:
annonces_sans_na = annonces.dropna()

In [31]:
gestion_quartier = OneHotEncoder()

In [32]:
quartiers = gestion_quartier.fit_transform(annonces_sans_na["Quartiers"].values)
quartiers.shape

KeyError: 'Quartiers'

gestion_genre = OneHotEncoder()
genre =gestion_genre.fit_transform(annonces_sans_na["Genre"].values)
genre.shape
type(genre)

In [ ]:
reste = annonces_sans_na[["Neuf", "Surface", "Pieces"]].values
reste.shape
type(reste)

In [ ]:
normalisation = Normalizer()
X = np.concatenate ((quartiers.toarray(), genre.torray(),reste), axis)
X.shape

In [ ]:
y = annonces_sans_na["Prix"].values
y.shape

## Apprentissage

In [ ]:
from sklearn.model_selection import (train_test_split,
                                    RandomizedSearchCV,
                                    GridSearchCV,
                                    )

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor as RFR

In [ ]:
GridSearchCV(estimator = SVR(),
            param_grid = dict())

In [ ]:
svr.fit(X_train, y_train)

In [ ]:
print(svr.best)

On prédit les prix en fonction de toutes les autres variables

## Exercice
- enlever la colonne "Quartier"
- étudier l'impact de la normalisation
- utiliser un troisième estimateur de votre choix

In [33]:
annonces = pd.read_csv('data.tsv',sep="\t",)
annonces

,Id,Genre,Neuf,Surface,Pieces,Quartier,Prix
0,annonce-138905473-376235,Appartement,0,90.00,3.0,cathédrale,374400.0
1,annonce-140620177-376235,Appartement,0,146.27,5.0,sud,499200.0
2,annonce-140620179-376235,Appartement,0,110.00,5.0,prébendes,499200.0
3,annonce-133494153-376235,Maison,0,132.00,6.0,prébendes,508000.0
4,annonce-137425993-376235,Maison,0,185.00,7.0,strasbourg,676000.0
...,...,...,...,...,...,...,...
1642,annonce-134769693-30034771,Appartement,1,66.30,3.0,NaN,254900.0
1643,annonce-123293873-388776,Appartement,0,42.00,2.0,fontaines,61500.0
1644,annonce-141342739-388776,Appartement,0,76.00,3.0,NaN,108500.0
1645,annonce-137994967-30034771,Maison,1,84.40,4.0,NaN,320000.0
1646,annonce-138636083-30034771,Maison,1,84.40,4.0,NaN,320000.0

In [34]:
ann = annonces.drop(['Quartier'], axis='columns', inplace=True)

In [35]:
ann